<div class="well">
  <h1>
    <% if (typeof menu != 'undefined'){ %>
    <a class="btn btn-default" role="button" onclick="openNav()" href="#">
      <i class="glyphicon glyphicon-menu-hamburger"></i>
    </a>
    <br>
    <% } %>
    <i class="glyphicon glyphicon-tree-deciduous"></i>&nbsp;Terapeutikos
  </h1>
</div>