<div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
  <table align="center" style="width:100%;background-color:rgb(208, 203, 241)">
    <tbody>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th align="center" style="width:300px;background-color:white">
          <h1>Terapeutikos</h1>
        </th>
        <th></th>
      </tr>
      <tr>
        <td></td>
        <td style="background-color:white">
          <div style="margin:20px">
            <h3>Llegó una nueva solicitud de servicio!</h3>
            <p>Ingresa al portal de servicios para ser el primero en atenderlo:</p>
            <strong>
              <a target="_blank" href="<%= requestUrl %>"><%= requestUrl %></a>              
            </strong>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>