<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<section class="container">
  <div class="col-md-offset-3 col-md-6">
    <div class="well">
      <h1>
        <i class="glyphicon glyphicon-tree-deciduous"></i> Terapeutikos</h1>
    </div>
    <a href="\home?access_token=<%= accessToken %>">
      <i class="glyphicon glyphicon-chevron-left"></i> Volver al inicio</a>
    <form action="/api/users/change-password?access_token=<%= accessToken %>" method="post">
      <fieldset>
        <legend>Cambiar contrase単a</legend>
        <div class="form-group">
          <label class="control-label" for="password">Antigua contrase単a:</label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </span>
            <input type="password" class="form-control" name="oldPassword" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="password">Nueva contrase単a:</label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </span>
            <input type="password" class="form-control" name="newPassword" />
          </div>
        </div>
        <div class="form-group">
          <input class="btn btn-primary col-xs-offset-2 col-xs-8" type="submit" value="Cambiar contrase単a" />
        </div>
      </fieldset>
    </form>
  </div>
</section>