<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

[{ id text, name text, assignedAt date }]

<body>
  <table>
    <tbody>
      <tr>
        <td></td>
        <td align="center">
          <table align="center" style="width:600px;background-color:blue">
            <tbody>
              <tr>
                <td align="center">
                  <p>Hola Mundo</p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>